<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.containerapp.dynamicfeature"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:extractNativeLibs="true"
        tools:replace="android:extractNativeLibs">
        <activity android:name=".ProxyActivity"
            android:parentActivityName="com.example.containerapp.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
        </intent-filter>
        </activity>
        <activity
            android:name="co.ix.vzmve.screen.VzmveActivity"
            android:configChanges="screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/VzmveTheme"
            tools:ignore="LockedOrientationActivity" />
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_dynamicfeature">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>